################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Oelbaum_A8/GameGraphics/.vs/DX11Starter/v16
